
<nav #sidemenu id="sidemenu">
<perfect-scrollbar>
    <!-- Close Sidebar Button -->
    <div id="dismiss" (click)="dismiss()">
      <i class="glyphicon glyphicon-arrow-left"></i>
    </div>

    <!-- <ng-content select="[app-sidebar-header]"></ng-content> -->
    <!-- Sidebar Header -->
    <app-user-profile class="sidebar-header">


    </app-user-profile>

    <!-- Sidbar Links -->
    <ul class="list-unstyled components">
      <ng-container *ngFor= "let item of MenuItems">
        <p *ngIf= "item.type == 'header'"> {{ item.display }}</p>
        <li *ngIf= "item.type == 'node'" class="{{(item.state == 'active'? 'active ': ' ') + (item.cssClass? item.cssClass : '')}}">
          <a *ngIf="item.isLinkAbsolute" href="{{item.link}}">{{item.display}}</a>
          <!-- Else it is route-->
        </li>
        <li *ngIf = "item.type == 'seperator'" class="seperator"></li>
        <li *ngIf = "item.childs && item.childs.length > 0">
          <!-- <li> Link with dropdown items -->
            <a data-toggle="collapse" aria-expanded="false" [attr.data-target]="'#' + item.id">{{item.display}}</a>
            <ul class="collapse list-unstyled" id="{{item.id}}">
              <ng-container *ngFor="let citem of item.childs">
                <p *ngIf="citem.type == 'header'"> {{ item.display }</p>
                <li *ngIf="citem.type == 'node'" class="{{(citem.state == 'active'? 'active ': ' ') + (item.cssClass? item.cssClass : '')}}">
                  <a *ngIf="citem.isLinkAbsolute" href="{{citem.link}}">{{citem.display}}</a>
                  <!-- Else it is route-->
                </li>
                <li *ngIf="citem.type == 'seperator'" class="seperator"></li>
              </ng-container>
            </ul>
        </li>
      </ng-container>


      <!-- <p>Dummy Heading</p>
      <li class="active">
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">About</a>
      </li>
      <li>
        <a data-toggle="collapse" aria-expanded="false" data-target="#homeSubmenu">Pages</a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
          <li>
            <a href="#">Page 1</a>
          </li>
          <li>
            <a href="#">Page 2</a>
          </li>
          <li>
            <a href="#">Page 3</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">Portfolio</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>-->
    </ul>

    <ng-content select="[app-sidebar-footer]"></ng-content>
    </perfect-scrollbar>
  </nav>

