<!--
    you can substitue the span of reauth email for a input with the email and
    include the remember me checkbox
    -->
<div class="container" id="loginContainer">
  <div class="card card-container">
    <img id="profile-img" class="profile-img-card" src="{{img}}" />
    <p id="profile-name" class="profile-name-card"></p>
    <form class="form-signin">
      <span id="reauth-email" class="reauth-email"></span>
      <input [value]="username" (input)="username = $event.target.value" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      <input [value]="password" (input)="password = $event.target.value" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <div id="remember" class="checkbox">
        <label>
          <input type="checkbox" [value]="rememberMe" (input)="rememberMe = $event.target.value" [checked]="rememberMe" (change)="rememberMe = !rememberMe"/> Remember me
        </label>
      </div>
      <button [class]="btnClass" type="button" (click)="login()">Sign in</button>
    </form>
    <!-- /form -->
    <!-- <a href="#" class="forgot-password">
      Forgot the password?
    </a> -->
  </div>
  <!-- /card-container -->
</div>
<!-- /container -->
