<div class="wrapper">
  <app-sidebar #mainSidebar [items]="SidebarItems" (dismissed)="menuDismissed($event)" style="display: inline-block;">

    <ng-container app-sidebar-footer>

    </ng-container>
  </app-sidebar>
  <div id="content">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-left navbar-toggle sidebara-toggle" (click)="toggleButton()">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-right">
            <span class="navbar-brand">My Condu</span>
          </div>
        </div>
      </div>
    </nav>
    <router-outlet></router-outlet>
    <div #overlay class="overlay" (click)="dismiss()"></div>
  </div>
</div>
