.navbar-inverse {
    background-color: #ca6e04 !important;
    border-color: #ca6e04 !important;
    color: #ffffff !important;
    .navbar-text {
        color: #b1b1b1 !important;
    }
    .navbar-brand {
        color: #ffffff !important;
    }
}

.sidebara-toggle {
    border: 0px !important;
    display: block;
    float: left !important;
    &:hover {
        background-color: #a15701 !important;
    }
}

#map {
    &::before {
        content: " ";
        display: block;
        width: 100%; //padding-top: 62%;
        padding-top: 100%;
        z-index: -100;
    }
    position: relative;
}

#mapcnt {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
